<configuration>
	<configSections>
		<section name ="jampad.devServer" type="DevServer.Configuration.DevServerConfigurationSection, DevServer.Client" />
	</configSections>
	<appSettings>
	</appSettings>
	<jampad.devServer>
		<requestTracing>
			<allowedContentTypes>
				<add value="application/x-custom-type" />
			</allowedContentTypes>
		</requestTracing>
		<webServer>
			<defaultDocuments>
				<add name="index.jsx" />
			</defaultDocuments>
			<contentTypeMappings>
				<add extension=".jsx" type="application/x-javascript" />
				<add extension=".js" type="application/x-javascript" override="true" />
			</contentTypeMappings>
		</webServer>
		<startupProfiles activeProfile="Sample">
			<profile name="Sample">
				<server key="SampleWS1" />
				<server key="SampleWS2" />
			</profile>
		</startupProfiles>
		<servers>
			<server key="SampleWS1" name="Sample Website 1" port="2001"
					virtualPath="/" physicalPath="C:\Projects\DevServer\SampleWebsite1">
				<binding address="loopback" />
				<requestTracing enabled="true" enableVerboseTypeTracing="false" enableFaviconTracing="true" />
			</server>
			<server key="SampleWS2" name="Sample Website 2" port="2003"
					virtualPath="/" physicalPath="C:\Projects\DevServer\SampleWebsite2">
				<binding address="any" />
				<requestTracing enableVerboseTypeTracing="false" />
			</server>
		</servers>
	</jampad.devServer>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="devServerNetTcpBinding" receiveTimeout="00:05:00">
					<reliableSession enabled="true"/>
					<readerQuotas maxStringContentLength="1048576" />
				</binding>
			</netTcpBinding>
			<netNamedPipeBinding>
				<binding name="devServerNetNamedPipeBinding" receiveTimeout="00:05:00">
					<readerQuotas maxStringContentLength="1048576" />
				</binding>
			</netNamedPipeBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ManagementServiceBehavior">
				</behavior>
				<behavior name="RequestManagementServiceBehavior">
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="DevServer.Service.ManagementService"
					 behaviorConfiguration="ManagementServiceBehavior">
				<endpoint
					address="net.pipe://localhost/ManagementService"
					binding="netNamedPipeBinding"
					bindingConfiguration="devServerNetNamedPipeBinding"
					contract="DevServer.Service.IManagementService" />
			</service>
			<service name="DevServer.Service.RequestManagementService"
					 behaviorConfiguration="RequestManagementServiceBehavior">
				<endpoint
					address="net.pipe://localhost/RequestManagementService"
					binding="netNamedPipeBinding"
					bindingConfiguration="devServerNetNamedPipeBinding"
					contract="DevServer.Service.IRequestManagement" />
			</service>
		</services>
		<client>
			<endpoint name="NetPipeManagementServiceEndpoint"
					address="net.pipe://localhost/ManagementService"
					binding="netNamedPipeBinding"
					contract="DevServer.Service.IManagementService" />
		</client>
	</system.serviceModel>
</configuration>